/*-------------default-------------*/

input {
    border-radius: 0;
}


/*-------------header--------------*/

.header {
    background: #323232;
    height: 44px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

#goback,
#filter {
    height: 44px;
    align-self: center;
}

#goback {
    text-align: center;
    font-size: 34px;
    line-height: 44px;
    padding: 0 15px;
}


/* 方式弹出层 */

#type {
    position: absolute;
    display: none;
    background: rgb(71, 71, 71);
    color: #FFF;
    top: 44px;
    z-index: 1001;
    left: 18px;
    top: 60px;
}

#type:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -20px;
    left: 50px;
    border: 10px solid transparent;
    border-bottom-color: rgb(71, 71, 71);
}

#type li {
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 120px;
    position: relative;
}

#type li:not(:last-child) {
    border-bottom: 1px solid #888;
}

#type i {
    color: #FFF;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 24px;
}

#type span {
    padding-left: 50px;
}


/* 搜索区 */

#search {
    height: 44px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#search input {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    align-self: center;
}

.alert-search {
    width: 100% !important;
}

#search button {
    height: 36px;
    width: 40px;
    border: none;
    background: #888;
    align-self: center;
}

#search i {
    color: #FFF;
    font-size: 20px;
}


/* 筛选 */

#filter,
#methods {
    width: 50px;
}

#filter i,
#methods i {
    text-align: center;
    height: 20px;
    line-height: 20px;
    width: 50px;
    font-size: 20px;
    margin-top: 2px;
}


/*------------header-end--------------*/


/*-------------page-start-------------*/

.page-not-header {
    top: 44px;
}

.page {
    top: 0;
    padding: 0;
    bottom: 0;
    overflow: hidden;
}

.page table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
}

.page table tr {
    height: 40px;
    line-height: 40px;
}


/* 明细数据 */

.page td,
.page th {
    text-align: left;
    width: 110px;
    color: #1f2d3d;
    padding-right: 3px;
    border-left: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
    padding-left: 10px;
}

.page th {
    text-align: center;
}

.page td:first-child,
.page th:first-child {
    width: 60px;
    border-left: 0;
}

.page td:nth-child(2),
.page th:nth-child(2) {
    width: 140px;
}

.shade {
    position: relative;
    background: #eef1f6;
    z-index: 99;
}

.shade th:first-child,
.detail th:first-child {
    padding: 0;
}

.shade tr:first-child th:nth-child(3),
.detail tr:first-child th:nth-child(3),
.shade tr:first-child th:nth-child(4),
.detail tr:first-child th:nth-child(4) {
    width: 330px;
    text-align: center;
}

.shade th.fixed, .total td.fixed{
    z-index: 100;
    position: relative;
    background-color: #eef1f6;
}
.detail {
    position: absolute;
    top: 0;
    bottom: 40px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.detail thead {
    visibility: hidden;
}

.detail th {
    border: none;
}

.detail tr {
    height: 40px;
}

.detail tr:nth-child(even) {
    background: #eef1f6;
}

.detail tbody tr {
    height: auto;
    line-height: normal;
}

.detail tbody td {
    padding: 10px 3px 10px 10px;
    font-size: 12px;
}

.detail td.fixed {
    position: fixed;
    z-index: 88;
    background-color: #fff;
}

.detail td.secondFixed{
    left: 80px;
}

.detail tr:nth-child(even) td.fixed {
    background: #eef1f6;
}

.currency {
    text-align: right !important;
}

.total {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background: #F0F0F0;
    border-top: 1px solid #DDD;
    z-index: 99;
}

.total table {
    height: 100%;
}

.total tr {
    width: 100%;
    height: 100%;
}


/*-------------page-end---------------*/


/* 弹出层样式 */

.layer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.criteria {
    position: absolute;
    right: 0;
    width: 288px;
    top: 0;
    bottom: 0;
    background: #F0F0F0;
    font-family: '微软雅黑';
}

.options {
    position: absolute;
    top: 0;
    bottom: 42px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.num,
.date,
.local,
.classified {
    padding-right: 0;
    border-top: 1px solid #e2e2e2;
    margin-bottom: 15px;
}

.title {
    height: 40px;
    line-height: 40px;
    color: #a4a4a6;
    font-weight: bold;
    padding: 0 15px;
}

.title i {
    font-size: 16px;
    padding: 5px 10px;
}

.active {
    color: #1cc1c7;
}

.num ul,
.local ul,
.classified ul {
    font-size: 0;
}

.num ul li,
.local ul li,
.classified ul li {
    display: inline-block;
    width: 82px;
    padding: 8px 5px;
    background: #dedfe3;
    text-align: center;
    font-weight: bold;
    margin: 0 0 10px 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.classified ul li {
    font-weight: normal;
    font-size: 10px;
}

.range {
    position: relative;
    width: 270px;
    margin: 0 auto;
    background: #dedfe3;
    text-align: center;
}

.range p {
    text-align: left;
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #9e9e9f;
    letter-spacing: 1px;
}

.range input[type=date] {
    width: 110px;
    margin: 8px 0;
    height: 32px;
    border: none;
    border-radius: 0;
    padding-left: 5px;
    font-size: 12px;
    color: #000;
}

.line {
    border: 1px solid #98989a;
    height: 1px;
    width: 20px;
    display: inline-block;
}

.local ul li {
    font-weight: normal;
}

.confirm {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42px;
    font-size: 0;
}

.confirm button {
    width: 50%;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
    letter-spacing: 2px;
}

.range select {
    margin: 10px 0;
    width: 90%;
    height: 30px;
    -webkit-appearance: none;
    padding: 0 10px;
    font-size: 14px;
    color: #A4A4A6;
    border: none;
    box-shadow: 0 1px 2px #CCC;
    background: #FFF;
    border-radius: 0;
}

.userSelect,
.state,
.subject {
    border-top: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.range label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

#reset {
    background: #daf9fb;
    color: #5bbec4;
}

#complete {
    background: #5bbec4;
    color: #daf9fb;
}

.onchoose {
    background: #daf9fb !important;
    color: #5bbec4;
}

#fykm {
    position: relative;
    top: 2px;
    left: 10px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0 !important;
    border: 0;
    font-size: 1em !important;
}

input[type=checkbox]:before {
    display: inline-block;
    text-align: center;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
}

input[type=checkbox]:checked:before {
    color: #5bbec4;
}

input[type=checkbox]:before {
    content: "\f096";
}

input[type=checkbox]:checked:before {
    content: "\f14a";
}


/*-------------animation--------------*/


/* 弹出动画 */

@keyframes fidein {
    0% {
        right: -288px;
    }
    100% {
        right: 0;
    }
}

@keyframes fideout {
    0% {
        right: 0;
    }
    100% {
        right: -288px;
    }
}

@keyframes pagein {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes pageout {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}


/*-------------animation-end--------------*/


/*-------------- loading------------------*/

#myLoading {
    display: none;
}

.load_toast_mask,
.load_toast_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.load_toast_mask {
    z-index: 9998;
    background-color: rgba(37, 38, 45, .4);
}

.load_toast_container {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

.lee_toast {
    position: absolute;
    top: -50%;
    left: -50%;
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px 16px;
    color: #ccc;
    background-color: rgba(37, 38, 45, .9);
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.load_img img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.load_text {
    max-width: 40vw;
    max-height: 200px;
    overflow: hidden;
}
