body, html {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'PingFang SC', '微软雅黑', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* 主页面 */
.container {
    display: block;
}

/* 奖品提示 */
.award {
    display: none;
}

.rules {
    display: none;
}

.container {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2aa133;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg_tx.png);
    background-position: center 54%;
    background-repeat: no-repeat;
    z-index: 20;
}

.rules-btn {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    font-size: 0.44rem;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.2;
}

.vip-info {
    position: absolute;
    top: 3rem;
    left: 0.4rem;
    color: #fff;
    text-decoration: underline;
    z-index: 50;
    line-height: 1.2;
}

.vip-card, .vip-total {
    font-size: 0.28rem;
}

.logo {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    /* left: 50%;
    margin-left: -1.213rem; */
    width: 2.42666rem;
}

.logo > img {
    width: 100%;
}

.title {
    position: absolute;
    left: 50%;
    top: 0.8rem;
    width: 4.4rem;
    margin-left: -2.2rem;
}

.title > img {
    width: 100%;
}

.shake {
    position: absolute;
    top: 4.4rem;
    left: 50%;
    height: 5rem;
    width: 5rem;
    margin-left: -2.5rem;
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 30px 2px #fff;
    background-image: url(../images/yyy-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    position: absolute;
    top: 3.4rem;
    left: 1.4rem;
    width: 7rem;
    height: 6.5rem;
    background-image: url(../images/bar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
}

.rock {
    position: relative;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    font-size: 0;
    overflow: hidden;
    background-color: #666666;
    z-index: 10;
}

.rock > img {
    position: absolute;
    width: 4.2rem;
    left: 0;
}

.rock-top {
    bottom: 2.1rem;
}

.rock-bottom {
    bottom: 0;
}

.times {
    position: absolute;
    top: 9.8rem;
    left: 50%;
    /* bottom: 5.8rem; */
    box-sizing: border-box;
    padding: 0.06rem 0.2rem;
    font-size: 0.4rem;
    color: #f0e309;
    font-weight: bold;
    border: 2px solid #f0e309;
    border-radius: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 30;
}

.times > span {
    font-size: 0.44rem;
}

.detail {
    position: absolute;
    top: 10.6rem;
    left: 50%;
    /* bottom: 4rem; */
    width: 5.06666rem;
    margin-left: -2.53333rem;
    z-index: 30;
}

.detail > img {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.6rem;
    background-image: url(../images/court.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 20;
}

.athletes {
    position: absolute;
    width: 1.36rem;
    left: 1.8133rem;
    bottom: 0.96rem;
}

.footerball {
    position: absolute;
    left: 50%;
    margin-left: -1.32666rem;
    bottom: 0.8rem;
    width: 2.6533rem;
    height: 2.21333rem;
}

.go-bottom {
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    height: 0.7333rem;
    width: 0.7333rem;
    margin-left: -0.3666rem;
}

/* 介绍与奖品 */
.details {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 10rem;
    padding: 1rem 0.7rem;
    box-sizing: border-box;
    background-image: url(../images/grassland.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    box-shadow: 0 5px 5px #333 inset;
    z-index: 20;
}

/* 活动介绍 */
.introduction {
    position: relative;
    width: 100%;
    padding: 0.34666rem 0.4rem 0.4rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    font-size: 0.3rem;
    box-sizing: border-box;
}

.introduction > img {
    height: 0.84rem;
    width: 3.8133rem;
}

.introduction > p {
    line-height: 1.3;
}

.int-time {
    padding-top: 0.2133rem !important;
    padding-bottom: 0.26666rem !important;
    font-weight: bold;
}

.int-rules {
    display: block;
    margin-top: 0.6rem;
    font-size: 0.4rem;
    text-decoration: underline;
    font-weight: bold;
}

.interpretation {
    width: 100%;
    text-align: center;
    margin: 0.2rem 0;
}

/* 我的奖品 */
.myprize {
    position: relative;
    width: 100%;
    height: 12rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 0.2rem;
    margin-top: 3rem;
    padding: 0.8rem 0.4rem;
    padding-top: 3.8rem;
    box-sizing: border-box;
    z-index: 20;
}

.prize-detail {
    height: 100%;
    width: 100%;
}

.myprize > img {
    position: absolute;
    top: -1.5333rem;
    left: 50%;
    width: 4.7933rem;
    height: 4.56rem;
    margin-left: -2.39666rem;
}

/* 奖品列表 */
.prize-detail > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.myprize li {
    width: 7.2rem;
    height: 1.8rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-item: center;
    align-items: center;
    padding-left: 0.3rem;
    box-sizing: border-box;
    background-image: url(../images/award_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.myprize li:not(:last-child) {
    margin-bottom: 0.4rem;
}

.prize-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-item: center;
    align-items: center;
}

.prize-info > img {
    width: 1rem;
    margin-right: 0.2rem;
}

.prize-detail {
    line-height: 1.4;
    font-size: 0.34rem;
}

.prize-detail > span {
    font-size: 0.24rem;
    color: #ddd;
}

.cost {
    font-size: 0.5rem;
    color: #f0e309;
    font-weight: bold;
    margin-right: 0.4rem;
}

/* 中奖提示 */
.award {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 161, 51);
}

.bg-img {
    height: 100%;
    width: 100%;
    background-image: url(../images/bg_tx.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bg-color {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.prompt {
    position: absolute;
    top: 1rem;
    left: 50%;
    height: 8.146666rem;
    width: 8.146666rem;
    margin-left: -4.073333rem;
    border-radius: 50%;
    background-image: url(../images/grassland.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    font-size: 0.6rem;
    color: #fff;
}

/* 特等奖彩带 */
.color-bar {
    display: none;
    position: absolute;
    top: -0.5rem;
    left: 1.8rem;
    width: 6rem;
    height: 3.213rem;
    background-image: url(../images/bar2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

/* 红包彩带 */
.redpack-bar {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0.2rem;
    width: 7.44rem;
    height: 5.386666rem;
    background-image: url(../images/bar3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

/* 特等奖 */
.award-winner {
    display: none;
    width: 100%;
    text-align: center;
}

.award-redpack {
    display: none;
    width: 100%;
    text-align: center;
}

.award-fail {
    display: block;
    width: 100%;
    text-align: center;
}

.award-title {
    font-weight: bold;
    font-size: 0.88rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2533rem;
}

.award-winner > p:last-child {
    padding-top: 0.3rem;
}

.ball {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -1.0266rem;
    bottom: 0.2rem;
    width: 2.0533rem;
    height: 1.61333rem;
}

.redpack {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -0.96666rem;
    bottom: 1rem;
    width: 1.93333rem;
    height: 1.93333rem;
}

/* 红包提示 */
.prompt-redpack {
    display: block;
    position: absolute;
    bottom: 3.4rem;
    width: 80%;
    margin: 0.3rem 10% 0;
    border-radius: 6px;
    background-color: #c1c8c044;
    color: #fff;
    padding: 0.4rem;
    box-sizing: border-box;
}

.prompt-redpack > p {
    line-height: 1.2;
    width: 100%;
    font-size: 0.38rem;
    text-align: center;
}

/* 特等奖 表单 */
.form {
    display: none;
    position: absolute;
    bottom: 2.64rem;
    width: 100%;
}

.form-title {
    position: relative;
    font-size: 0.48rem;
    font-weight: bold;
    color: #f0e309;
    width: 100%;
    text-align: center;
}

.form-title::before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 23%;
    height: 4px;
    width: 4px;
    background-color: #f0e309;
}

.form-title::after {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 23%;
    height: 4px;
    width: 4px;
    background-color: #f0e309;
}

.form-items {
    width: 80%;
    margin: 0.3rem 10% 0;
    border-radius: 6px;
    background-color: #c2c9c1;
}

.form-item {
    height: 1.04rem;
    line-height: 1.04rem;
    width: 100%;
    font-size: 0.38rem;
}

.form-item:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.form-item > span {
    display: inline-block;
    width: 24%;
    text-align: right;
}

.form-item > input {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    background-color: transparent;
}

.btn-submit, .btn-back {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 1rem;
    margin-left: -1.306666rem;
    width: 2.61333rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.44rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-image: url(../images/button.png);
    background-size: cover;
    text-decoration: none;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/grassland.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0.4rem 0;
    color: #fff;
    font-size: 0.36rem;
}

.rules-title > img {
    height: 0.84rem;
    width: 3.8133rem;
}

.content {
    position: absolute;
    top: 2.4rem;
    left: 0.8rem;
    right: 0.8rem;
    bottom: 2.4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    line-height: 1.6;
    padding: 1rem 0.4rem;
    text-align: left;
    box-sizing: content-box;
}

.content > p {
    margin-bottom: 0.4rem;
}

.delcare {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.6rem;
    text-align: center;
    font-size: 0.28rem;
}

#myLoading {
    display: none;
}

.load_toast {
    position: absolute;
    width: 3rem;
    top: 36%;
    left: 50%;
    padding: 0.4rem 0;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    text-align: center;
}

.load_img {
    height: 1rem;
    width: 1rem;
    margin: 0 auto;
    margin-bottom: 0.2rem;
}

.load_img > img {
    width: 100%;
}

.load_text {
    color: #fff;
}

.rotate {
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.action {
    -webkit-animation: action 6s infinite;
    animation: action 6s infinite;
}

@-webkit-keyframes action {
    0% {
        opacity: 0.7;
        -webkit-transform: scale(0.7);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0.7;
        -webkit-transform: scale(0.7);
    }
}

@keyframes action {
    0% {
        opacity: 0.7;
        transform: scale(0.7);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.7;
        transform: scale(0.7);
    }
}

.rockup {
    -webkit-animation: rockup 800ms;
    animation: rockup 800ms;
}

.rockdown {
    -webkit-animation: rockdown 800ms;
    animation: rockdown 800ms;
}

@-webkit-keyframes rockup {
    0% {
        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-50%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes rockup {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes rockdown {
    0% {
        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(50%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes rockdown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.bar-action {
    -webkit-animation: bar 3s infinite;
    animation: bar 3s infinite;
}

@-webkit-keyframes bar {
    0% {
        opacity: 0.6;
        -webkit-transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(0.95);
    }

    100% {
        opacity: 0.6;
        -webkit-transform: scale(1);
    }
}

@keyframes bar {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(0.95);
    }

    100% {
        opacity: 0.6;
        transform: scale(1);
    }
}

.shake-anim {
    animation: shake 3s infinite;
}

@keyframes shake {
    70% {
      transform: translate3d(0, 0, 0);
    }

    80%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    75%,
    85% {
      transform: translate3d(10px, 0, 0);
    }
}
