.header {
    background-color: rgba(250,250,250,0.9);
    border-bottom: 1px solid #e6e6e6;
    color: #424242;
    height: 66px;
    white-space: nowrap;
    line-height: 1;
}

    .header .title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .header .season {
        font-size: 14px;
        font-weight: bold;
    }

.page {
    background-color: #f0f0f0;
}

.page-not-header-footer {
    top: 0;
    padding-top: 72px;
}

.page-not-header {
    top: 66px;
}

.order-item {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px .5px #eceef1;
    -webkit-box-shadow: 0 1px .5px #eceef1;
    border-radius: 4px;
}

    .order-item:not(:first-child) {
        margin-top: 40px;
    }

.back-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.headimg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: -24px;
    left: 10px;
}

.form-head {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 auto;
}

.top-item {
    height: 40px;
    padding-left: 84px;
    position: relative;
}

    .top-item .name {
        font-size: 16px;
        font-weight: bold;
        line-height: 39px;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
    }

.sex-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    margin-left: 4px;
    margin-bottom: -1px;
    /*position: absolute;
            top: 50%;
            margin-top: -7px;*/
}

.top-item .verify {
    background-color: #50bb8d;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 4px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}

.verify.not-verify {
    background-color: #ccc;
}

.mid-item {
    padding: 10px 15px;
    position: relative;
}

    .mid-item .fa-angle-right {
        color: #ccc;
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0,-50%);
    }

.info-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 3px;
}

    .info-item label {
        width: 70px;
        font-weight: bold;
    }

.primary {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
}

.bot-item {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    line-height: 29px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    color: #50bb8d;
    font-weight: bold;
}

    .bot-item .fa {
        font-size: 16px;
        transition: 0.5s all;
        margin-right: 5px;
    }

.other-info li {
    width: 50%;
    float: left;
    line-height: 40px;
    text-align: center;
}

.cut2 {
    border-right: 1px solid #f0f0f0;
    padding-right: 15px;
}

.more-info {
    background-color: #50bb8d;
    overflow: hidden;
    display: none;
}

.fly-info {
    position: relative;
    padding: 5px 0;
}

    .fly-info li {
        width: 50%;
        float: left;
        text-align: center;
        position: relative;
        padding-top: 35px;
    }

    .fly-info .direction {
        width: 24px;
        height: 24px;
        background-color: #f9f9f9;
        border-radius: 50%;
        line-height: 24px;
        text-align: center;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -13px;
        color: #50bb8d;
        font-weight: bold;
    }

    .fly-info .info-item {
        color: #fafafa;
    }

    .fly-info .mid-line {
        border-right: 1px solid #fafafa;
        position: absolute;
        top: 40px;
        bottom: 10px;
        left: 50%;
    }

.rotate {
    transform: rotate(180deg);
}

.footer {
    font-size: 0;
    border-top: 1px solid #eee;
}

.foot-btn, .form-btn {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 47%;
    background-color: #e79f56;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
}

.self {
    background-color: #3ba874;
    margin-left: 2%;
}

.step-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: #444;
}

.form-page {
    position: absolute;
    top: 80px;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    background-color: #f0f0f0;
}

.form-footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 60px;
    font-size: 0;
}

.form-page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.form-page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/*info-form*/
.step-item {
    text-align: center;
    width: 50%;
    float: left;
    padding-top: 30px;
    position: relative;
}

    .step-item .dot {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        background-color: #ff9736;
        color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 200;
        line-height: 20px;
    }

    .step-item .dot-bg {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -15px;
        background-color: rgba(255,151,54,0.3);
        z-index: 100;
    }

    .step-item .step-text {
        margin-top: 10px;
        font-size: 12px;
    }

.dot.unactive {
    background-color: #ccc;
}

.step-text.unactive {
    color: #a5a5a5;
}

.dot-bg.unactive {
    display: none;
}

#info-form .line {
    border-top: 2px solid #ff9736;
    position: absolute;
    top: 40px;
    left: 34%;
    right: 34%;
}

.tips {
    position:relative;
    height: 40px;
    font-size: 16px;    
    text-align: center;
    color: #f55350;
    display:none;
}

#info-form .line.unactive {
    border-top: 2px solid #ccc;
}

#step1-container, .step2-form {
    padding: 5px 15px;
    position: relative;
}

.head-line {
    border-left: 1px solid #dcdcdc;
    height: 15px;
    width: 1px;
    margin: 0 auto;
}

.step1-form, .step2-form ul {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

    .step1-form ul li, .step2-form ul li {
        height: 44px;
        border-bottom: 1px solid #dcdcdc;
        padding: 5px 10px;
        line-height: 33px;
    }

        .step1-form ul li:last-child, .step2-form ul li:last-child {
            border-bottom: none;
            line-height: 34px;
        }

.form-item {
    position: relative;
    line-height: 1;
}

    .form-item label {
        width: 60px;
        line-height: 34px;
    }

.input-div input {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    color: #000;
    padding: 0 5px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 34px;
}

.input-div {
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    height: 33px;
}

    .input-div select {
        width: 90%;
        background-color: #fff;
        border-radius: 0;
        border: 0;
        outline: none;
        -webkit-appearance: none;
        height: 100%;
        font-size: 14px;
        color: #50bb8d;
        font-weight: bold;
    }

.form-item .fa-angle-down {
    color: #ccc;
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 34px;
    font-size: 20px;
}

.form-btn {
    margin-left: 2%;
}

.step2-form .title {
    text-align: center;
    width: 80px;
    background-color: #50bb8d;
    color: #fff;
    padding: 4px 8px;
    margin: 10px auto 0 auto;
    border-radius: 2px;
}
