/* CSS Document */

.submitDiv{
	padding-top:40px;
	margin-top:10px;
}
#submit,.btn { display: inline-block; 
line-height: 28px;
padding: 0 20px;
font-size: 13px;
text-align: center;
color: #FFF; 
background: #3E76A7; 
border-radius: 2px; }
.mod_input {
background-color: #FFF;
border: 1px solid #c5c5c5;
border-radius: 5px;
padding: 2px 10px;
line-height: 37px;
box-shadow: 0 0 2px rgba(0,0,0,.2) inset;
position: relative;}
body {
background-color: #e0e0de;
font-size: 14px;}
.mod_color_weak {
color: #999;}
.qb_gap {
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;}
.mod_input input {
border: none;
height: 33px;
-webkit-appearance: none;
font-size: 14px;
outline: none;}
.qb_flex .flex_box {
-webkit-box-flex: 1;
display: block;
}
.qb_mb10 {
margin-bottom: 10px;
}
#bottom h1 {
color: #5F5F5F;
white-space: nowrap;
-webkit-background-size: 12px 13.5px;
font-size: 14px;
text-align:center;
}
.mod_btn {
color: #FFF;
font-size: 18px;
text-align: center;
height: 40px;
line-height: 40px;
text-shadow: 0 -1px 1px rgba(0,0,0,.5);
border-radius: 5px;
background-color: #25b025;
background-image: -webkit-gradient(linear,left top,left bottom,from(#39d139),to(#25b025));
background-image: -webkit-linear-gradient(top,#39d139,#25b025);
background-image: linear-gradient(to bottom,#39d139,#25b025);
display:block;
}
.checkbox {
background-position: 0 -40px;
width: 25px;
height: 25px;
vertical-align: -8px;
margin-right: 5px;
}
.qb_mb10 {
margin-bottom: 10px;
}
.pg_upgrade_content .icon_checkbox.checked {
background-position: 0 0;
}
.icon_checkbox {
	background-image: url(../img/sprite_upgrade.png);
	background-size: 25px;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin-right: 5px;
    vertical-align: -8px;
	background-position: 0 -40px;
	display: inline-block;
}
.mod_input {
line-height: 37px;
}
 .qb_icon {
display: inline-block;
background-repeat: no-repeat;
background-size: 100%;
}
.icon_checkbox.checked {
background-position: 0 0;
}
.qb_flex {
display: -webkit-box;
}