a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.coupon {
    display: block;
}

.detail {
    display: none;
}

.store {
    display: none;
}

.page {
    background-color: #F0F0F0;
}

.header {
    display: flex;
    background-color: #FAFAFA;
}

.navbar {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-on {
    background-color: #EAEAEA;
}

.navbar:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    color: #CCC;
    border: 1px solid #CCC;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
}

.detail .page .title:first-child p {
    width: 100%;
    text-align: center;
}

.detail .goback {
    position: absolute;
    left: 4px;
}

.detail .goback i {
    font-size: 12px;
    color: #999;
}

.detail .goback a {
    display: inline-block;
    margin-right: 10px;
    color: #999;
    white-space: nowrap;
}


.card {
    background-color: #fff;
    height: 170px;
    border-radius: 4px;
    box-shadow: 0 1px .5px #eceef1;
    -webkit-box-shadow: 0 1px .5px #eceef1;
}

.card:not(:last-child) {
    margin-bottom: 10px;
}

.card .card_top {
    height: 130px;
    background-color: #63b359;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.card_top .store_name {
    font-size: 14px;
    line-height: 15px;
    vertical-align: top;
}

.card_top .card_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 47px;
}

.card_top .card_subtitle {
    max-height: 48px;
    line-height: 17px;
    overflow: hidden;
}

.card_top .fa-angle-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 24px;
    line-height: 130px;
    border-left: 1px dashed #fff;
}

.card_bot {
    line-height: 40px;
    padding: 0 10px;
    position: relative;
}

    .card_bot .counts {
        position: absolute;
        top: 0;
        right: 10px;
    }

.card_top .card_icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0.2;
    transform: rotate(-30deg);
}

.back-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.card_type {
    position: absolute;
    top: 0;
    right: 40px;
    padding: 5px 8px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.card_state {
    position: absolute;
    top: 40px;
    left: 160px;
    font-size: 50px;
    font-family: microsoft yahei;
    font-weight: bold;
    color: rgba(0,0,0,.2);
}

.card_examed .card_top {
    background-color: #09BB07;
}

.card_exam .card_top {
    background-color: #E70000;
}

/*----------------detail-------------------*/

.detail .page {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.footer {
    height: 70px;
    border-top: 1px solid #F0F0F0;
    z-index: 1000;
}

.detail .title:first-child {
    padding: 14px 0;
    font-size: 16px;
}

.title {
    position: relative;
    padding: 8px 15px;
    color: #999;
    font-size: 14px;
}

.entry {
    padding: 6px 15px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    background-color: #FFF;
}

.entry:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #E5E5E5;
    color: #E5E5E5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
    z-index: 2;
}

.entry input, .entry label[for], .entry textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.entry-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.entry-link {
    color: #586c94;
    font-size: 14px;
}

.entry-bd {
    -webkit-box-flex: 1;
    flex: 1;
}

.entry-ft {
    text-align: right;
    color: #999;
}

.entry-ft i {
    font-size: 24px;
    color: #F43530;
}

.entry-warn {
    color: #F43530;
}

.entry-label {
    display: block;
    width: 105px;
    word-wrap: break-word;
    word-break: break-all;
}

.entry-input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 28px;
    line-height: 28px;
}

.entry-textarea {
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    height: 100px;
    color: inherit;
    font-size: 14px;
    line-height: inherit;
    outline: 0;
}

.entry-btn {
    border-top: 1px solid #F0F0F0;
}

.btn {
    margin: 10px 15px 4px;
}

.btn-primart:not(.btn-disabled):visited {
    color: #FFF;
}

.btn-primart {
    background-color: #22a571;
}

#submit, #ensure {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

#submit:after, #ensure:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}

/*------------------store----------------------*/

.store .page {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    bottom: 70px;
    background-color: #F8F8F8;
}

.store .header {
    display: flex;
    background-color: #FAFAFA;
}

.store .goback i {
    font-size: 12px;
    color: #999;
}

.store .goback a {
    display: inline-block;
    margin-right: 10px;
    line-height: 28px;
    color: #999;
    white-space: nowrap;
}

.store .search {
    position: relative;
    padding: 8px 10px;
    display: flex;
    box-sizing: border-box;
    background-color: #EFEFF4;
    justify-content: space-between;
}

.store .search-box {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    background-color: #FFF;
}

.store .search-box .search-icon {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 28px;
}

.store .search-icon {
    color: #B2B2B2;
    font-size: 14px;
}

.store .search-box .search-input {
    padding: 4px 0;
    width: 100%;
    height: 28px;
    border: none;
    font-size: 14px;
    outline: none;
}

.store .search-btn {
    display: block;
    margin-left: 10px;
    line-height: 28px;
    color: #09BB07;
    white-space: nowrap;
}

.store .check-icon {
    margin-right: 10px;
    font-size: 20px;
}

.store .icon-xuanze1:before {
    color: #C9C9C9;
}

.store .icon-xuanze:before {
    color: #09BB07;
}

.store .entry-check {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.entry-check-company {
    max-height: 200px;
}

.entry-check-store {
    flex: 1;
}

.entry-select {
    padding: 0;
}

.entry-select, .title-select {
    display: block;
}

.entry-select .select {
    padding-right: 30px;
}

.select {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 1;
    padding-left: 15px;
}

.entry-select .entry-bd:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 0 2px 2px 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
}

.entry-total {
    color: #AE00AE;
}

.entry-allSelect {
    position: absolute;
    right: 10px;
    color: #09BB07;
}

.entry-allDelect {
    position: absolute;
    right: 50px;
    color: #09BB07;
}

/*------------------animation-------------------*/

.entry-fadeIn {
    animation: fadeIn 300ms;
}

.entry-fadeOut {
    animation: fadeOut 300ms forwards;
}

@keyframes fadeIn {
    0% {
        transform: translate(100%,0);
    }
    
    100% {
        transform: translate(0,0);
    }
}

@keyframes fadeOut {
    0% {
        transform: translate(0,0);
    }
    
    100% {
        transform: translate(100%,0);
    }
}

/*--------onloag------------*/

#myLoading {
    display: none;
}

.load_toast_mask, .load_toast_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.load_toast_mask {
    z-index: 9998;
    background-color: rgba(37,38,45,.4);
}

.load_toast_container {
    -webkit-transform: translate(100%,100%);
    transform: translate(100%,100%);
}

.lee_toast {
    position: absolute;
    top: -50%;
    left: -50%;
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px 16px;
    color: #ccc;
    background-color: rgba(37,38,45,.9);
    border-radius: 4px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.load_img img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.load_text {
    max-width: 40vw;
    max-height: 200px;
    overflow: hidden;    
}