
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1506151533636'); /* IE9*/
  src: url('iconfont.eot?t=1506151533636#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1506151533636') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1506151533636#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quan:before { content: "\e600"; }

.icon-zhekouquan:before { content: "\e652"; }

.icon-diyongquan:before { content: "\e676"; }

.icon-icon4:before { content: "\e633"; }

.icon-you:before { content: "\e626"; }

.icon-xuanze:before { content: "\e724"; }

.icon-quanqia:before { content: "\e66a"; }

.icon-qiepian38:before { content: "\e618"; }

.icon-xuanze1:before { content: "\e61a"; }

.icon-qiaquan1:before { content: "\e60d"; }

.icon-jinggao1:before { content: "\e601"; }

.icon-qiaquan2:before { content: "\e6b2"; }

.icon-qiaquan:before { content: "\e602"; }

.icon-sousuo:before { content: "\e651"; }

.icon-shanchu:before { content: "\e62e"; }

