.page{
    padding: 0;
    overflow: hidden;
}

.options{
    width: 100%;
    height: 40px;
    margin: 1px;
    background: #FFF;
}

.options ul{
    display: flex;
    justify-content: space-around;
}

.options ul li{
    display: inline-block;
    height: 100%;
    line-height: 37px;
    width: 60px;
    text-align: center;
}

.onchoose:after{
    content: '';
    display: block;
    border-bottom: 2px solid #333;
    animation: choose .6s;
}

.reimbursement{
    background: #F0F0F0;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.reimbursement ul{
    padding: 14px;
}

.reimbursement ul li{
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 14px;
}

.reim-info{
    position: relative;
    width: 100%;
    height: 80px;
}

.reim-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFF;
    top: 50%;
    left: 20px;
    margin-top: -30px;
}

.reim-icon img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.reim-cost{
    height: 100%;
    color: #FFF;
    position: absolute;
    right: 0;
    text-align: right;
    padding: 6px 20px;
    font-size: 14px;
}

.reim-cost p:first-child{
    font-size: 24px;
}

.reim-cost p:last-child{
    padding-bottom: 2px;
}

.reim-detail{
    padding: 14px;
}

.reim-detail p{
    margin-bottom: 2px;
}

.reim-detail p:last-child{
    margin-bottom: 0;
}

.reim-detail p:nth-child(2) span:last-child{
    display: inline-block;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.reim-detail p span:first-child{
    display: inline-block;
    width: 70px;
    color: #666;
}

.reim-detail p span:last-child{
    color: #999;
    font-size: 14px;
}

.audit{
    background: #00f2fe;
    background: -webkit-linear-gradient(left, #f6d365 0%,#fda085 100%);
    background: linear-gradient(left, #f6d365 0%,#fda085 100%);
}

.audited{
    background: #00f2fe;
    background: -webkit-linear-gradient(left, #00f2fe 0%,#04befe 40%,#209cff 100%);
    background: linear-gradient(left, #00f2fe 0%,#04befe 50%,#4facfe 100%);
}

.auditing{
    background: #00f2fe;
    background: -webkit-linear-gradient(left, #38f9d7 0%,#3cba92 100%);
    background: linear-gradient(left, #38f9d7 0%,#3cba92 100%);
}

.none{
    font-size: 14px;
    position: absolute;
    background: #F0F0F0;
    color: #999;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

#myLoading {
    display: none;
}

.load_toast_mask, .load_toast_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.load_toast_mask {
    z-index: 9998;
    background-color: rgba(37,38,45,.4);
}

.load_toast_container {
    -webkit-transform: translate(100%,100%);
    transform: translate(100%,100%);
}

.lee_toast {
    position: absolute;
    top: -50%;
    left: -50%;
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px 16px;
    color: #ccc;
    background-color: rgba(37,38,45,.9);
    border-radius: 4px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.load_img img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.load_text {
    max-width: 40vw;
    max-height: 200px;
    overflow: hidden;    
}

@keyframes choose{
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}