body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page{
    padding: 0;
    overflow: hidden;
    background: #F0F0F0;
}

.spending-info{
    width: 100%;
    height: 220px;
    position: relative;
    background: #00f2fe;
    background: -webkit-linear-gradient(left, #00f2fe 0%,#04befe 40%,#209cff 100%);
    background: linear-gradient(left, #00f2fe 0%,#04befe 50%,#4facfe 100%);
}

.spending-month{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    position: relative;
    background: #89f7fe;
    background: -webkit-linear-gradient(left, #89f7fe 0%,#a1c4fd 100%);
    background: linear-gradient(left, #c2e9fb 0%,#a1c4fd 100%);
}

.spending-month input{
    border: none;
    background: none;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    padding-left: 20px;
}

.spending-month i{
    position: absolute;
    height: 100%;
    line-height: 40px;
    width: 10%;
    text-align: center;
    font-size: 26px;
}

.spending-month i:first-child{
    left: 0;
}

.spending-month i:last-child{
    right: 0;
}

.spending-data{
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 40px;
    font-size: 0;
}

.spending-data hr{
    width: 1px;
    position: absolute;
    top: 14%;
    left: 50%;
    bottom: 14%;
    background: #FFF;
    border: none;
}

.spending-total,.spending-perc{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    vertical-align: top;
}

.icon{
    height: 60px;
    width: 60px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 34%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.icon img{
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: 4px;
}

.cost{
    font-size: 12px;
    color: #FFF;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}

.cost p{
    margin-top: 2px;
    font-size: 20px;
}

#canvas{
    position: absolute;
    border-radius: 50%;
    top: 34%;
    left: 50%;
    margin: -30px 0 0 -30px;
    transform: rotate(-90deg);
}

.perc-info{
    width: 100%;
    font-size: 12px;
    color: #FFF;
    position: absolute;
    bottom: 14px;
    text-align: center;
}

.perc-info span{
    display: inline-block;
    margin: 0 4px;
}

.perc-info span:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.perc-info span:first-child:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #08ea96;
}

.perc-info span:nth-child(2):before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffb962;
}

.perc-info span:last-child:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fea192;
}

.spending-place{
    position: absolute;
    height: 40px;
    width: 100%;
    background: #FFF;
    bottom: 0;
}

.spending-place ul{
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
}

.spending-place ul li{
    display: inline-block;
    width: 80px;
    text-align: center;
    padding-top: 8px;
}

.onchoose:after{
    content: '';
    display: block;
    border-bottom: 2px solid #333;
    animation: choose .6s;
    margin-top: 10px;
}


.spending-record,.spending-noodle,.spending-swim{
    width: 100%;
    position: absolute;
    top: 220px;
    bottom: 0;
    background: #F0F0F0;
    margin-top: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.spending-record ul,.spending-noodle ul,.spending-swim ul{
    background: #FFF;
}

.spending-record ul li,.spending-noodle ul li,.spending-swim ul li{
    margin-left: 10px;
    background: #FFF;
    border-bottom: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spending-record ul li span,.spending-noodle ul li span{
    font-size: 24px;
}

.spending-record ul li div:last-child,.spending-noodle ul li div:last-child{
    padding-right: 20px;
    color: #999;
    line-height: 24px;
    margin: 6px 0;
}
.spending-noodle ul li div:last-child{
    margin: 12px 0;
    text-align: right;
}

.spending-record ul li div p{
    display: block;
    text-align: right;
}

.spending-swim ul li div:first-child{
    line-height: 20px;
    margin: 6px 0;
}

.spending-swim ul li div span{
    padding-right: 16px;
    color: #999;
}

.spending-noodle{
    display: none;
}

.spending-swim{
    display: none;
}

.record-canteen{
    color: #08ea96;
    font-weight: 200;
}

.record-noodle{
    color: #fea192;
}

.record-swim{
    color: #ffb962;
}

.none{
    font-size: 18px;
    position: absolute;
    background: #F0F0F0;
    color: #999;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#myLoading {
    display: none;
}

.load_toast_mask, .load_toast_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.load_toast_mask {
    z-index: 9998;
    background-color: rgba(37,38,45,.4);
}

.load_toast_container {
    -webkit-transform: translate(100%,100%);
    transform: translate(100%,100%);
}

.lee_toast {
    position: absolute;
    top: -50%;
    left: -50%;
    width: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px 16px;
    color: #ccc;
    background-color: rgba(37,38,45,.9);
    border-radius: 4px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.load_img img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.load_text {
    max-width: 40vw;
    max-height: 200px;
    overflow: hidden;    
}


@keyframes choose{
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

/* 兼容 */
@media screen and (max-width: 400px) {
    .perc-info span{
        margin: 2px;
    }
    
    .perc-info span:before{
        margin-right: 2px;
    }
}

@media screen and (max-width: 350px) {
    .spending-info{
        height: 200px;
    }
    
    .spending-record{
        top: 200px;
    }
    
    .icon{
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
    }
    
    .icon img{
        height: 40px;
        margin-left: -29px;
        margin-top: 4px;
    }
    
    .cost p{
        margin-top: 1px;
        font-size: 16px;
    }
    
    .circle{
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
    }
    
    .circle-center{
        width: 26px;
        height: 26px;
        margin: -13px 0 0 -13px;
    }
    
    .pic-c1,.pic-c2,.pic-c3{
        height: 50px;
        width: 50px;
    }
    
    .pic-c1{
        clip: rect(0,auto,25px,0);
        background: #08ea96;
    }

    .pic-c2{
        clip: rect(25px,25px,auto,auto);
        background: #fea192;
    }

    .pic-c3{
        clip: rect(25px,auto,auto,25px);
        background: #ffb962;
    }
    
    .perc-info{
        bottom: 6px;
    }
}