<meta content="text/html; charset=gb2312" http-equiv="content-type" /> 

<!--信息模板-->
<script id="infolist" type="text/html"> 
        <li myid="0"> 
            <div class="chat-info">
                <p class="chat-name"><i class="fa fa-plus-circle"></i><span>填写新的学习笔记</span></p>
                <p class="chat-time">现在</p>
            </div>
            <div class="message-nums"><i class="fa fa-chevron-right"></i></div>					
        </li>
    <% for (var i = 0; i < list.length; i ++) { %>　
        <li myid="<%= list[i].id %>">
            <div class="chat-info">
                <p class="chat-name"><i class="fa fa-edit"></i><span><%= list[i].info %></span></p>
                <p class="chat-time">时间：<%= list[i].time %></p>
            </div>
            <div class="message-nums"><i class="fa fa-chevron-right"></i></div>					
        </li>
    <% } %>      
</script>