.wrap-page {
    background-color: #f0f0f0;
}

.logo {
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 50%;
    border: 0.06rem solid #f0f0f0;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 100;
}

.container {
    background-color: #fff;
    position: absolute;
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.3rem;
    top: 0.85rem;
    border-radius: 0.1rem;
}

.grid_wrap {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px 100px;
}

.grid_wrap > div {
    background-color: red;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
