.page {
    padding: 0;
}

.header {
    height: 160px;
}

    .header .fa-angle-left {
        font-size: 20px;
        padding: 0 15px;
        height: 80px;
        line-height: 80px;
        position: absolute;
        color: #fff;
        top: 0;
        left: 0;
    }

.footer {
    height: 50px;
}

.page-not-header-footer {
    bottom: 50px;
}

.header .express_mode {
    height: 80px;
    background-image: url(../../img/vipweixin/usercenterbg.jpg);
    padding: 10px 0;
    text-align: center;
    font-size: 0;
}

.header .address-wrap {
    height: 80px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    line-height: 1;
}

.rec-info {
    margin-bottom: 14px;
}

.left-add {
    width: 100%;
    padding: 0 15px;
}

.address-wrap .address-info {
    white-space: nowrap;
}

.rec-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    display: inline-block;
    vertical-align: bottom;
}

.back-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#index {
    top: 160px;
}

    #index .no-result {
        text-align: center;
        color: #888;
        letter-spacing: 1px;
    }

.page {
    background-color: #f0f0f0;
}

.address-wrap {
    border-bottom: 4px solid #555;
    -webkit-border-image: url(../../img/vipweixin/sel_border.png) 5;
    border-image: url(../../img/vipweixin/sel_border.png) 5;
}

.address-info {
    color: #555;
}

.info-label {
    color: #888;
    margin-right: 4px;
}

.express_item {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

    .express_item > img {
        height: 32px;
    }

    .express_item > p {
        line-height: 28px;
    }

.order-list ul li {
    padding: 10px;
    border: 1px dashed #d5d5d5;
    background-color: #fff;
    margin-top: 15px;
    position: relative;
}

.order-list .thumb {
    width: 80px;
    height: 80px;
}

.order-list .info {
    position: absolute;
    top: 10px;
    left: 100px;
    right: 0;
    height: 80px;
    padding: 0 10px;
    border-left: 1px dashed #ccc;
}

.info .name {
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.info .desc {
    color: #999;
    font-size: 12px;
}

.info .points {
    margin-top: 10px;
    color: #875f6a;
}

.info .nums {
    color: #888;
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.subForm {
    font-size: 0;
}

    .subForm > div {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    .subForm .static {
        width: 60%;
    }

    .subForm .subbtn {
        width: 40%;
        background-color: #322030;
        color: #fff;
        font-weight: bold;
    }

/*店铺地址页*/
#shopAdd_page .head, #addressList_page .head, #myAdd_page .head {
    height: 80px;
    background-image: url(../../img/vipweixin/usercenterbg.jpg);
    background-size: cover;
    padding: 10px 0;
    color: #fff;
}

.head .fa {
    font-size: 20px;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    border-right: 1px solid rgba(255,255,255,.2);
}

.head .title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.user-list {
    margin-top: 10px;
    border-bottom: 10px solid #f3f3f3;
}

    .user-list li {
        padding: 15px;
        background-color: #fff;
        color: #555;
        border-bottom: 1px solid #f3f3f3;
        width: 100%;
        position: relative;
    }

.input-title {
    width: 35%;
    float: left;
    line-height: 1;
}

input[type='text'], input[type='number'] {
    border: none;
    font-size: 13px;
    border-radius: 0;
    width: 65%;
    float: right;
}

.shoplist-wrap {
    background-color: #fff;
    border-bottom: 10px solid #f3f3f3;
}

.shoptitle {
    padding: 10px 15px;
    border-bottom: 1px solid #f3f3f3;
}

.shoplist li {
    position: relative;
    padding: 0 15px;
    height: 40px;
    color: #555;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .shoplist li .fa-angle-down, .user-list li .fa-angle-down {
        color: #ccc;
        position: absolute;
        line-height: 40px;
        top: 0;
        right: 20px;
        font-size: 18px;
    }

select {
    width: 65%;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 13px;
    background-color: #fff;
}

.addrbtn-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    padding: 0 15px;
}

.sureBtn, .newAddBtn, .addBtn {
    background-color: #333;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    margin-top: 4px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}

.addList {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    bottom: 48px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

    .addList li {
        background-color: #fff;
        font-size: 14px;
        margin-bottom: 10px;
        overflow-y: auto;
    }

.top-rec-info {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 15px;
}

.user-info {
    margin-bottom: 10px;
}

.user-phone {
    float: right;
}

.opera-wrap {
    padding: 10px 15px;
    line-height: 1;
    font-size: 14px;
    color: #888;
}

.right-opera {
    float: right;
    margin-top: 1.5px;
    line-height: 1;
}

.setDefault {
    background-color: #fff;
    padding: 15px;
    line-height: 1;
    margin-bottom: 40px;
}

    .setDefault .fa {
        font-size: 18px;
        vertical-align: middle;
    }
