<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Config" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Config">
            <xs:complexType>
              <xs:attribute name="ConfigName" type="xs:string" use="required" />
              <xs:attribute name="ConfigValue" type="xs:string" />
              <xs:attribute name="Remark" type="xs:string" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:unique name="Constraint1" msdata:PrimaryKey="true">
        <xs:selector xpath=".//Config" />
        <xs:field xpath="@ConfigName" />
      </xs:unique>
    </xs:element>
  </xs:schema>
  <Config ConfigName="ChartDB" ConfigValue="data source=192.168.35.19;initial catalog=dhdb;user id=ABEASD14AD;password=+AuDkDew;" Remark="【订货会BI】:数据库连接字符串" />
 </NewDataSet>

