<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Config" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Config">
            <xs:complexType>
              <xs:attribute name="ConfigName" type="xs:string" use="required" />
              <xs:attribute name="ConfigValue" type="xs:string" />
              <xs:attribute name="Remark" type="xs:string" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:unique name="Constraint1" msdata:PrimaryKey="true">
        <xs:selector xpath=".//Config" />
        <xs:field xpath="@ConfigName" />
      </xs:unique>
    </xs:element>
  </xs:schema>
  <!-- 开发模式下默认的XLM数据库连接字符串，用于指定在没有定义连接对象时的连接目标 -->  
  <Config ConfigName="TestModeConnStr" ConfigValue="server='192.168.35.23';uid=lllogin;pwd=rw1894tla;database=tlsoft" Remark="【调试】:数据库连接字符串" />

  <!-- WEB访问路径根目录的URL -->  
  <Config ConfigName="OA_WebPath" ConfigValue="http://tm.lilanz.com/OA/" Remark="企业号的WEB应用访问的根目录，这个路径用于指引WEB应用的资源访问" />
  <Config ConfigName="VIP_WebPath" ConfigValue="http://tm.lilanz.com/" Remark="利郎男装的WEB应用的根目录，这个路径用于指引WEB应用的资源访问" />
  <Config ConfigName="ERP_WebPath" ConfigValue="http://webt.lilang.com:9001/" Remark="ERP系统的WEB应用的根目录，这个路径用于指引WEB应用的资源访问" />
  

<!-- 分析库的连接字符串 -->  
  <Config ConfigName="FXDBConStr" ConfigValue="server=192.168.35.20;database=tlsoft;uid=ABEASD14AD;pwd=+AuDkDew" Remark="分析服务器数据库连接字符串" />	 
  <!-- 分析服务器查询1的连接字符串 -->  
  <Config ConfigName="CX1ConStr" ConfigValue="server=192.168.35.20;database=CX1;uid=ABEASD14AD;pwd=+AuDkDew" Remark="分析服务器CX1分库的数据库连接字符串" />
  <!-- 分析服务器查询2的连接字符串 -->  
  <Config ConfigName="CX2ConStr" ConfigValue="server=192.168.35.20;database=CX2;uid=ABEASD14AD;pwd=+AuDkDew" Remark="分析服务器CX2分库的数据库连接字符串" />

  <!-- 实际分销FXDB的连接字符串 -->
  <Config ConfigName="FXConStr" ConfigValue="server=192.168.35.11;database=fxdb;uid=ABEASD14AD;pwd=+AuDkDew" Remark="实际分销数据数据库连接字符串" />
  <!-- 实际分销erpdb的连接字符串 -->
  <Config ConfigName="ERPConStr" ConfigValue="server=192.168.35.19;database=erpdb;uid=ABEASD14AD;pwd=+AuDkDew" Remark="实际erpdb数据数据库连接字符串" />
  <!-- 购易达的连接字符串 -->
  <Config ConfigName="ESoftConStr" ConfigValue="server=10.0.0.16;database=ESoft;uid=XLM;pwd=xiaoxue" Remark="购易达数据库连接字符串" />
  <!-- 旧版OA的连接字符串 -->
  <Config ConfigName="OldOAConnStr" ConfigValue="Data Source=192.168.35.10;Initial Catalog=Tloa;User ID=lllogin;password=rw1894tla" Remark="【微信基础配置】旧版的OA数据库连接字符串" />  
  <!-- ERP框架连接字符串 -->
  <Config ConfigName="ERPConnStr" ConfigValue="server=192.168.35.32;database=tlsoft;uid=ABEASD14AD;pwd=+AuDkDew" Remark="ERP框架数据库连接字符串" />  
  
  <!-- AccessToken服务的接口页面，微信开发若使用 clsWXHelper中的方法，则需要配置该参数 -->  
  <Config ConfigName="ATServiceUrl" ConfigValue="http://192.168.35.231/QYWX/WebBLL/WxATService.aspx" Remark="【微信基础配置】AccessToken服务的接口URL" />  
  <!-- 企业号的鉴权回调页 -->  
  <Config ConfigName="OAuthUrl" ConfigValue="http://tm.lilanz.com/OA/WebBLL/OAuth.aspx" Remark="【微信基础配置】鉴权页的URL。必须是微信开发中心可识别的URL" /> 
   
  <!-- 以下三个参数标识普通公众号的配置信息，下划线之后的序必须与wx_t_TokenConfigInfo对应ID数据的配置值一致 -->  
  <Config ConfigName="OAuthUrl_5" ConfigValue="http://tm.lilanz.com/OA/WebBLL/GZHOAuth.aspx" Remark="【微信基础配置】【公众号】的鉴权页的URL，后缀必须与微信配置中心的一致" /> 
  <Config ConfigName="APPID_5" ConfigValue="wx821a4ec0781c00ca" Remark="【微信基础配置】【公众号】的微信appID，后缀必须与微信配置中心的一致" />
  <Config ConfigName="SECRET_5" ConfigValue="a68357539ec388f322787d6d518d6daf" Remark="【微信基础配置】【公众号】的微信appSecret，后缀必须与微信配置中心的一致" />

  <!-- 以下三个参数标识普通公众号的配置信息，下划线之后的序必须与wx_t_TokenConfigInfo对应ID数据的配置值一致 -->  
  <Config ConfigName="OAuthUrl_7" ConfigValue="http://tm.lilanz.com/OA/WebBLL/GZHOAuth.aspx" Remark="【微信基础配置】【公众号】的鉴权页的URL，后缀必须与微信配置中心的一致" /> 

  <!-- 企业号使用的基本连接参数：开始 -->  
  <Config ConfigName="OAConnStr" ConfigValue="server='192.168.35.10';uid=ABEASD14AD;pwd=+AuDkDew;database=tlsoft" Remark="【微信基础配置】数据库连接字符串" />
  <Config ConfigName="OAappID" ConfigValue="wxe46359cef7410a06" Remark="【微信基础配置】微信appID，目前使用的是企业微信" />
  <Config ConfigName="OAappSecret" ConfigValue="w0IiKV3RGY6lzcx1QjdzMdWfhVMJEFOmnl_6HpYzfCgyNpORbyj6wlBnvmv2bw7x" Remark="【微信基础配置】微信appSecret，目前使用的是企业微信" />
  <Config ConfigName="OAagentid" ConfigValue="1" Remark="【微信基础配置】:企业微信中OA应用的ID（这个参数在使用20160127新的登录逻辑之后，已失效）" />
  <Config ConfigName="OAOauthBackURL" ConfigValue="tm.lilanz.com/OA" Remark="【微信基础配置】鉴权后的回调域名前缀" />
  <!-- 企业号使用的基本连接参数：结束 -->  
   
  <!-- 利郎圈的配置信息:开始 -->
  <Config ConfigName="LGConnStr" ConfigValue="server='192.168.35.23';uid=lllogin;pwd=rw1894tla;database=tlsoft" Remark="【利郎圈】:数据库连接字符串" />
  <Config ConfigName="LGOauthBackURL" ConfigValue="tm.lilanz.com/wxDevelopment/WebBLL/LilanzGroupProject" Remark="【利郎圈】:鉴权后的回调域名路径，精确到LilanzGroupProject目录，但最后不需要加斜杠" />
  <Config ConfigName="LGappID" ConfigValue="wxe46359cef7410a06" Remark="【利郎圈】:微信appID，目前使用的是企业微信" />
  <Config ConfigName="LGagentid" ConfigValue="3" Remark="【利郎圈】:企业微信中OA应用的ID" />
  <Config ConfigName="LGappSecret" ConfigValue="w0IiKV3RGY6lzcx1QjdzMdWfhVMJEFOmnl_6HpYzfCgyNpORbyj6wlBnvmv2bw7x" Remark="【利郎圈】:微信appSecret，目前使用的是企业微信" />
  <!-- 利郎圈的配置信息:结束 -->
	 
  <!-- 微信考勤的配置信息:开始 -->
  <Config ConfigName="WXKQ_OauthBackURL" ConfigValue="http://sj.lilang.com:186/LLsj/wxkq/" Remark="【微信考勤】文件夹位置" />
  <Config ConfigName="WXKQ_agentid" ConfigValue="16" Remark="【微信考勤】:企业微信中微信考勤应用的ID" />
  <!-- 微信考勤的配置信息:结束 -->
  
  <!-- 在总部咖啡馆微信支付中 咖啡馆获取食堂卡片信息所需要的参数 -->
  <Config ConfigName="CFSF" ConfigValue="server='192.168.35.30';uid=lllogin;pwd=rw1894tla;database=CFSF" Remark="【咖啡馆】:咖啡馆获取卡片信息" />

  <!-- 微信数据库的连接参数 -->
  <Config ConfigName="WXConnStr" ConfigValue="server='192.168.35.62';uid=sa;pwd=ll=8727;database=weChatPromotion" Remark="正式环境下为weChatPromotion" />

  <!-- 与CFSF重复，统一使用CFSF <Config ConfigName="CFSFConnStr" ConfigValue="server='192.168.35.30';uid=lllogin;pwd=rw1894tla;database=CFSF" Remark="【餐饮系统】:数据库连接字符串" />  -->

  <!--微信卡券发放地址URL-->
  <Config ConfigName="WXCardURL_5" ConfigValue="http://tm.lilanz.com/project/vipweixin/UserGetTicket.aspx?ticket={0}"/>
  <Config ConfigName="WXCardURL_7" ConfigValue="http://tm.lilanz.com/vip2/easybusiness/UserGetTicket.aspx?ticket={0}"/>

  <!--咖啡馆银联支付后的回调页面-->
  <Config ConfigName="CoffeePaybackUrl" ConfigValue="http://tm.lilanz.com/OA/project/CoffeePay/CoffeePayback.ashx" Remark="咖啡馆银联支付后的回调页面" />

  <!-- 异步任务TCP调用的连接地址和IP：测试服务器进行通信测试可知会薛灵敏开启异步服务的测试环境 -->    
  <Config ConfigName="AsynTask_ServerIP" ConfigValue="192.168.35.63" Remark="【异步任务】:连接IP" />
  <Config ConfigName="AsynTask_ServerPort" ConfigValue="14444" Remark="【异步任务】:连接端口" />
</NewDataSet>

