.weixin-panel{margin:10px 0 20px auto;height: 30px;padding: 0 10px;}
.weixin-panel *{-webkit-box-sizing: border-box;box-sizing: border-box;}
#weixin-mess{}
#share_2{display:block; text-align: center;}
.clr{display:block;clear:both;height:0;overflow:hidden;}
.weixin-btn{
	background:#fff url(../images/weinxin_share_icon.png) no-repeat 15px center;background-size:18px 18px;
	font-size:16px;padding:5px 15px 5px 40px;box-shadow:0 0 0 1px #38BF68;color:#38BF68!important;text-align:left;
	border-radius:20px;border: none;line-height: 16px;height: 26px;display: inline-block;vertical-align: middle;
	overflow:hidden;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;
}
.weixin-layer{
	display:none;position:fixed;top: 0;left: 0;bottom: 0;width: 100%;height: 100%;
	background:url(../images/weinxin_share_arrow.png) no-repeat right top rgba(0, 0, 0, 0.7);
	-webkit-background-size: 320px 75px;-moz-background-size: 320px 75px;background-size: 320px 75px;z-index:999999;
}
.weixin-tips-block{
	margin:64px auto 0; width:320px; height:99px;background:url(../images/weinxin_share_txt.png) no-repeat;
	-webkit-background-size: 320px 99px;-moz-background-size: 320px 99px;background-size: 320px 99px;
}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.share-layer{display:none;position:fixed;top: 0;left: 0;bottom: 0;width: 100%;height: 100%;
	background:url(../images/weinxin_share_arrow.png) no-repeat right top rgba(0, 0, 0, 0.7);
	-webkit-background-size: 320px 75px;-moz-background-size: 320px 75px;background-size: 320px 75px;z-index:999999;}
.share-tips-block{margin:64px auto 0; width:320px; height:99px;background:url(../images/weinxin_share_txt.png) no-repeat;
	-webkit-background-size: 320px 99px;-moz-background-size: 320px 99px;background-size: 320px 99px;}
.share-nav{}
.share-nav li{-webkit-box-flex: 1;width: 100%;text-align: center;line-height: 18px;font-size: 16px;}
.share-nav li a{display: block;padding:5px;}
.share-nav li em{font-size: 10px;display: block;line-height: 12px;}
.share-nav li:first-child{margin-right: 15px;}
.share-nav li:first-child a{background: rgb(42,179,75);border-radius: 5px;color: rgb(255,255,255);}
.share-nav li:last-child a{background:rgb(255,255,255);box-shadow: inset 0 0 0 1px #121212;border-radius:5px;color:#121212;}
.share-nav li:last-child span{background: url(../images/icon-share.png) no-repeat -5px center;background-size:30px;display: inline-block;padding-left: 27px;}