* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei',San Francisco,Helvitica Neue,Helvitica,Arial,sans-serif;
    font-weight: normal;
    list-style: none;
    box-sizing: border-box;
   /* 隐藏被旋转的 div 元素的背面*/
    -webkit-backface-visibility: hidden;
}
.searchBg{
	background-color: #dedfe3;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
}
.searchBar{
	display: block;
	border:none;
	width: 93%;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border-radius: 6px;
	color: #8e8e93;
	font-size: 18px;
	text-align: center;
	background-image: url("../../img/StoreSaler/search.png");
	background-repeat: no-repeat;
	background-position: 36%;
	background-size: 15px 15px;
}
.content{
	position: absolute;
	top:50px;
	width: 100%;            
}
.content-ul{
	color: #323232;
	width: 100%;  
	/*使被转换的子元素保留其 3D 转换；  与加载等待器的样式冲突，暂时注释掉*/
	-webkit-transform-style: preserve-3d; 
}
.content li{
	padding: 15px 12px;
	padding-right: 5px;
	border-bottom: 1px solid #e1e1e1;                        
}
.clothImg{
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	border-radius: 5px;
}
.content li a{
	display: inline-block;
	text-align: center;
	box-orient:vertical;
	color: #323232;
	font-size: 18px;
}
.clothName{
	width: 40%;
}
.clothNumber{
	width: 23%;
}
.arrow img{
	width: 18px;
}
.mask{
	width: 100%;
	margin: 15px auto 0;
	border-top: 1px dotted #e1e1e1;
	overflow: hidden;
	display: block;
}
.mask li{
	color: #8f8f8f;
	float: left;
	border: none;
}
.size{
	border:1px solid #0fa693;
	width: 40px;
	text-align: center;
}
.mask li p{
	width: 40px;
	text-align: center;
	margin-top: 8px;
}
.clear{
	clear: both;
}
.clearfix:after{
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.floatfix:after {
    content:'';
    display:table;
    clear:both;
}
.btn-more{
	width: 100%;
}
a.more{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #0fa693;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
/*尺码数量颜色*/
.sizeRed{
	color: #fe6164;	
}
.sizeBlue{
	color: #56b5e1;
}
.sizeGray{
	color: #bebebe;
}
.arrow-icon{
	color: #dedfe3;
}
