<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="eurekaService" value="master:8900"/>
  <add key="cn.org.fcl_sz.www.service" value="http://www.fcl-sz.org.cn/customSrv/service.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <pages/>
    <httpRuntime/>
  </system.web>
</configuration>